<footer class="site-footer">
  <div class="wrapper">
    <ul class="social-media-list">
      <li>
        {{- partial "icons/rss" . -}}
      </li>
      <li>
        {{- partial "icons/slack" . -}}
      </li>
      <li>
        {{- partial "icons/github" . -}}
      </li>
      <li>
        {{- partial "icons/twitter" . -}}
      </li>
    </ul>

    <p><small>Contenus sous Licence <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">CC BY-NC-SA 4.0</a></small></p>

  </div>
</footer>
