<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <span class="icon icon--rss"></span> <a href="{{ .RSSLink | relURL }}">S‘abonner via RSS</a>
          </li>
          <li>
            {{- partialCached "icons/slack" . -}}
          </li>
          <li>
            {{- partialCached "icons/github" . -}}
          </li>
          <li>
            {{- partialCached "icons/twitter" . -}}
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <p><small>Contenus sous Licence <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">CC BY-NC-SA 4.0</a></small></p>
      </div>
    </div>
  </div>
</footer>
