<header class="text-white bg-violet">
  <div class="pt-8 pb-12 mx-auto w-72 md:w-1/2 lg:w-2/5">
    {{ if .IsHome }}
      <h1>
        {{ partial "svg/jamstatic-logo-violet.svg" }}
      </h1>
      {{ else }}
      <a href="{{ "/" | relURL }}" title="Retour à l'accueil"
        >{{ partial "svg/jamstatic-logo-violet.svg" }}</a
      >
    {{ end }}
    <div class="pr-4 text-xs text-right text-white lg:-mt-2 font-display md:text-sm lg:text-base">
      {{ .Site.Params.description }}
    </div>
  </div>
</header>
