<header class="site-header">
  <nav>
    <ul class="social-media-list">
      <li>
        {{- partialCached "icons/slack" . -}}
      </li>
      <li>
        {{- partialCached "icons/twitter" . -}}
      </li>
      <li>
        {{- partialCached "icons/github" . -}}
      </li>
    </ul>
  </nav>
  <div class="wrapper">
    <div class="site-title">
      {{ if .IsHome }}
        <h1>
          {{ partial "svg/jamstatic-logo-violet.svg" }}
        </h1>
        {{ else }}
        <a href="{{ "/" | relURL }}" title="Retour à l'accueil"
          >{{ partial "svg/jamstatic-logo-violet.svg" }}</a
        >
      {{ end }}
      <div class="site-description">{{ .Site.Params.description }}</div>
    </div>
  </div>
</header>
