body {
  display: flex; // Use flexbox for a Sticky Footer
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-content {
  flex: 1;
}

.site-header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: $base-line 0;
  min-height: 18vw;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  overflow: hidden;

  &::before{
    content: "";
    position: absolute;
    width: 151%;
    height: 141%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background-color: #00c7b7;
    background-image: linear-gradient(45deg, #4d9abf 0, #00c7b7 100%);
    transform: rotate(1deg);
  }
}

.site-title {
  display: block;
  margin: 0 auto;
  padding: 0 0.5em;
  font-family: $title-font-family;
  font-size: $title1 * $ratio;
  font-weight: 900;
  letter-spacing: $title-letter-spacing;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.15), 0 1px 25px rgba(27, 31, 35, 0.25);
  vertical-align: middle;
  text-align: center;
  transition: all 0.4s ease;

  &,
  &:hover,
  &:visited {
    color: rgba(255, 255, 255, .95);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }

  &:hover {
    text-shadow: 4px 2px #4d9abf;
  }
}

.site-nav {
  display: inline-block;
  padding: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.25), 0 1px 25px rgba(27, 31, 35, 0.75);

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.site-footer {
  position: relative;
  padding: $spacing-unit*2 0 $spacing-unit;
  background: rgb(247,247,248);
  color: $grey;
  font-size: $small;
  text-align: center;

  a {
    color: $grey;

    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: $spacing-unit;

  li {
    display: inline-block;
    padding: 0 0.69445em;
  }
}

/**
 * Page content
 */

.page-content {

  margin-bottom: $base-line;

  li {
    margin-bottom: ($base-line / 2);

    img {
      margin: ($base-line / 2) 0;
    }
  }

  .hr::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
    }

  hr, .hr::after {
    background-image: linear-gradient(90deg, rgba(14, 30, 37, 0) 0, #0e1e25 30%, #0e1e25 70%, rgba(14, 30, 37, 0) 100%);
    border: none;
    height: 1.728px;
    margin: $base-line auto;
    opacity: 0.12;
  }
}

.page-heading {
  margin-top: 0;
}

.post-list {
  margin-top: 3rem;
  margin-left: 0;
  margin-bottom: 5rem;
  list-style: none;

  .post-item {
    line-height: 1.1;
    padding: $spacing-unit/$ms3;
    border-radius: 8px;
    margin-bottom: $spacing-unit;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);

    &::before {
      display: block;
      content: "";
      border-top: $smallest solid $brand-color;
      border-image: linear-gradient(45deg, $brand-light 0, $brand-color 100%) 10;
    }
  }
}

.home .post-meta {
  display:inline-block;
  margin-bottom: $spacing-unit / $ms5;
}

.post-meta {
  color: $grey;
  font-size: $smaller;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;

  a {
    font-weight: 400;
  }
}

.post-link {
  display: block;
  margin: ($line-height-computed / 7.43) 0;
  font-family: $title-font-family;
  font-weight: 700;
  letter-spacing: $title-letter-spacing;

  a {
    text-decoration: none;
    color: $grey-light;

    &:hover {
      color: $grey-dark;
    }
  }
}

@include media-query($on-tablet) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    .post-item {
      padding-bottom: $spacing-unit;
    }
  }

  .post-link {
    font-size: $big;
  }
}

@include media-query($on-desktop) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-content {
  margin-bottom: $spacing-unit;
}

.avatar {
  border-radius: 50%;
  margin-right: $spacing-unit / 4;
}

.intro {
  font-family: $title-font-family;
  font-weight: 900;
  line-height: $ms2;
  font-size: 1.2em;
}

.marker {
  background-color: rgba(255, 228, 0, 0.4);
  padding: 0.1rem;

  code {
    background-color: inherit;
    border: none;
    font-weight: 900;
  }
}

.notice {
  margin: 2em 0;
  padding: 1em;
  border-left: 0.25em solid rgba(169,197,234,.6);

  a {
    color:rgba(0,81,193,.54);
  }

  &.info {
    background-color: rgba(169,197,234,.2);
  }

  &.tip {
    background-color: #ffed7f;
    border-color: #feda00;

    code {
      background-color: #feda00;
      border-color: #feda00;
    }
  }

  &.update {
    background-color: #7fb842;
    color: white;
    border-color: #5c8530;
  }

  h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
  }

  p {
    a {
      color: #1a5891;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    background-color: #bdd6ec;
  }
}

figure {
  display: block;
  margin: $base-line 0;
}

figure > img,
figure > iframe {
  margin: 0 auto 0.5em;
}

figcaption {
  text-align: center;
  font-style: italic;
  line-height: 1.2;
  color: $grey-light;
}

@include media-query($on-desktop) {
  figcaption {
    margin: auto;
  }
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 1.2em auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footnotes {
  font-size: $small;
  font-style: italic;
  color: $grey-dark;
}
