---
layout: default
title: L'actualité autour des générateurs de site statique
---
<div class="home">

  <h1 class="page-heading">Billets</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{% include fr_date.html date=post.date %}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe small">S‘abonner <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
