{{- define "main" }}
  <article class="mx-auto prose sm:prose-lg lg:prose-xl" itemscope itemtype="https://schema.org/BlogPosting">
    <header class="p-4 mb-8 rounded-lg bg-blue-50 bg-opacity-75">
      <h1 class="text-4xl font-bold font-display text-violet-900 xl:leading-tight" itemprop="name headline">
        {{- partial "content.html" .Title -}}
      </h1>
      <p class="mb-0 -mt-4 text-sm text-gray-400">
        <time class="capitalize"
          datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"
          itemprop="datePublished"
        >
          {{- $mymonths := .Site.Data.mois }}
          {{- .Date.Day }} {{ index $mymonths (printf "%d" .Date.Month) }}
          {{ .Date.Year -}}
        </time>
        {{- if isset .Params "categories" }}
          •
          {{ range $index, $category := .Params.categories }}
            {{ if $index }}, {{ end }}
            <a class="no-underline capitalize text-violet-900 hover:text-rose-400" href="{{ "categories/" | relURL }}{{ . | urlize }}"
              >{{ . }}</a
            >{{ end }}

        {{- end }}
        • <span aria-label="Temps de lecture">{{ .ReadingTime }} min</span> •
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">
            {{- if .Params.author }}
              {{- if isset (index .Site.Data.authors .Params.author) "web" }}
                <a
                  class="no-underline uppercase text-violet-900 hover:text-rose-400"
                  rel="author"
                  href="{{ (index .Site.Data.authors .Params.author).web }}"
                  >{{ (index .Site.Data.authors .Params.author).name }}</a
                >
                {{ else }}
                <a
                  class="no-underline uppercase text-violet-900 hover:text-rose-400"
                  rel="author"
                  href="https://github.com/{{ (index .Site.Data.authors .Params.author).github }}"
                  >{{ (index .Site.Data.authors .Params.author).name }}</a
                >
              {{ end -}}
              {{ else }}
              <a
                class="no-underline uppercase text-violet-900 hover:text-rose-400"
                rel="author"
                href="{{ .Site.Data.authors.frank.web }}"
                >{{ .Site.Data.authors.frank.name }}</a
              >
            {{ end -}}
          </span>
        </span>
      </p>
    </header>

    <div class="font-body" itemprop="articleBody">
      {{- with .Params.Source }}
        {{- if and .url .title .author }}
          <p class="text-base italic text-right text-gray-400">
            Source : <a class="font-bold no-underline font-display text-rose-400 hover:underline" href="{{ .url }}">{{ .title }}</a> de
              {{ .author }}
          </p>
        {{- end }}
      {{- end }}

      <div class="text-2xl text-gray-700 lead font-display">
        {{ .Params.Excerpt | markdownify }}
      </div>  

      <hr/>

      {{- partial "content.html" .Content -}}

      <footer>
        {{- partial "page-edit" . }}

        {{- partial "related" . }}

      </footer>
    </div>
  </article>
{{- end }}
