<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=YAKwML4pvx">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png?v=YAKwML4pvx" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png?v=YAKwML4pvx" sizes="16x16">
<link rel="manifest" href="/assets/favicons/manifest.json?v=YAKwML4pvx">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=YAKwML4pvx" color="#c30000">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=YAKwML4pvx">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=YAKwML4pvx">
<meta name="theme-color" content="#c30000">
