<header class="site-header">
  <div class="wrapper">
    {%- if page.path != "index.html" -%}
      <a class="site-title" href="{{ "/" | relative_url }}">JAMstatic</a>
    {%- else -%}
      <h1 class="site-title">JAMstatic</h1>
    {%- endif -%}
    <nav class="site-nav">
      <div class="trigger">
        {%- for my_page in site.pages -%}
          {%- if my_page.title -%}
            {{ my_page.title }}
          {%- endif -%}
        {%- endfor -%}
      </div>
    </nav>
  </div>
</header>
