<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<link rel="dns-prefetch" href="//fonts.googleapis.com/" data-proofer-ignore>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:900" rel="stylesheet">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
<link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ "/feed.json" | relative_url }}">
{%- seo -%}
{%- include_cached favicons.html -%}
{%- if site.analytics.google.tracking_id -%}
  {% include_cached analytics.html %}
{%- endif -%}
</head>
