{%- if site.social.github.url is defined -%}
<a href="{{ site.social.github.url }}" title="Suivre Jamstatic sur GitHub">
  <span class="opacity-60 hover:opacity-100">
    {{- include('partials/svg/icon-github.svg') -}}
  </span>
</a>
{%- endif -%}