{%- if site.social.podcast.url is defined -%}
<a class="block size-6" href="{{ site.social.podcast.url }}" title="Écouter {{ site.social.podcast.title }}">
	{{- include('partials/svg/icon-podcast.svg') -}}
</a>
{%- endif -%}