/**
 * Site layout
 */


// Use flexbox for a Sticky Footer
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex: 1;
}


/**
 * Site header
 */

.site-header {
    padding: $base-line 0;
    min-height: 56px;
    background: $grey-color-dark;
}

.site-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: $big;
    font-weight: 300;
    letter-spacing: -1px;
    vertical-align: middle;
    text-align: center;
    @include media-query($on-tablet) {
        width: 30%;
    }
    span {
        display: block;
        margin: 0 auto;
        padding: 0 $base-line/2;
        max-width: 300px;
        min-width: 200px;
    }
    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    display: inline-block;
    padding: $base-line 0;
    width: 100%;
    text-align: center;
    @include media-query($on-tablet) {
        width: 66%;
        text-align: right;
    }
    .menu-icon {
        display: none;
    }
    .page-link {
        color: #fff;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}


/**
 * Site footer
 */

.site-footer {
    background: $grey-color-dark;
    padding: $spacing-unit $spacing-unit/2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #fff;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    a {
        color: currentcolor;
        text-decoration: underline;
        font-weight: bold;
    }
}

.footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
}

@include media-query($on-tablet) {
    .footer-col {
        float: left;
        margin-bottom: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
    .home .post-meta {
      float: right;
    }
}

@include media-query($on-desktop) {
    .footer-col-1 {
        width: -webkit-calc(35% - (#{$spacing-unit} / 2));
        width: calc(35% - (#{$spacing-unit} / 2));
    }
    .footer-col-2 {
        width: -webkit-calc(20% - (#{$spacing-unit} / 2));
        width: calc(20% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(45% - (#{$spacing-unit} / 2));
        width: calc(45% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    margin-top: 0;
}

.post-list {
    margin-top: 3rem;
    margin-left: 0;
    margin-bottom: 5rem;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
        line-height: 1.4rem;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 1.4rem;
}

/**
 * Posts
 */

.post-header {
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;
}
