/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $text-color;
  background-color: rgb(247,247,248);
  background-image: linear-gradient(180deg, rgb(255, 255, 255) 0, rgb(247,247,248) 30%, rgb(255, 255, 255) 60%);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $line-height-computed / 2;
}

blockquote {
  margin: $line-height-computed 0;
}

/**
 * Images, iframes
 */
img,
iframe {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img,
figure > iframe {
  display: block;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-top: $line-height-computed / 2;
    margin-bottom: 0;
  }
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $title-font-weight;
}

strong, th {
  font-weight: 800;
}

h1, h2, h3, h4, h5, .post-intro {
  code {
  font-weight: 700;
  }
}

/* Links */
a {
  color: $brand-color;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: underline;
  }

  code {
    font-weight: 700;
  }
}

/* Blockquotes */
blockquote {
  background-color: rgba($brand-light,.2);
  border-radius: $base-em * $ms2;
  padding: $spacing-unit;
  font-size: $base-em * $ms2;
  line-height: $ratio * $ms1;
  letter-spacing: -1px;
  font-style: italic;
  color: $light-contrast;
  border-bottom: 0.5rem solid $brand-light;

  > :last-child {
    margin-bottom: 0;
  }

}

/**
 * Code formatting
 */

:not(pre)>code  {
  background-color: #eef;
  border-radius: 3px;
  display:inline-block;
  padding: 1px 5px;
}

pre {
  max-width: 37em;
  margin: 0 auto;
}

code {
  font-family: 'Roboto Mono',monospace;
  font-size: $small;
}

pre {
  padding: $spacing-unit/2;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
