@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("../fonts/roboto-v18-latin-regular.woff2") format('woff2'), url("../fonts/roboto-v18-latin-regular.woff") format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url("../fonts/roboto-v18-latin-italic.woff2") format('woff2'), url("../fonts/roboto-v18-latin-italic.woff") format('woff');
  font-display: optional;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url("../fonts/roboto-v18-latin-900.woff2") format('woff2'), url("../fonts/roboto-v18-latin-900.woff") format('woff');
  font-display: optional;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url("../fonts/roboto-v18-latin-900italic.woff2") format('woff2'), url("../fonts/roboto-v18-latin-900italic.woff") format('woff');
  font-display: optional;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url("../fonts/roboto-mono-v5-latin-regular.woff2") format('woff2'), url("../fonts/roboto-mono-v5-latin-regular.woff") format('woff');
  font-display: optional;
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url("../fonts/roboto-mono-v5-latin-700.woff2") format('woff2'), url("../fonts/roboto-mono-v5-latin-700.woff") format('woff');
  font-display: optional;
}
