body {
  display: flex; // Use flexbox for a Sticky Footer
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 0 auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit} / 2));
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.page-content {
  flex: 1;
}

.site-header {
  padding: $base-line 0;
  color: rgba(255, 255, 255, 0.9);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
  background-color: #2f91a7;
  background-image: linear-gradient(45deg, #45b8d2 0, #2f91a7 100%);
}

.site-title {
  display: block;
  margin: 0 auto;
  padding: 0 0.5em;
  font-family: $title-font-family;
  font-weight: 900;
  letter-spacing: $title-letter-spacing;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.15), 0 1px 25px rgba(27, 31, 35, 0.25);
  vertical-align: middle;
  text-align: center;
  transition: all 0.4s ease;

  &,
  &:hover,
  &:visited {
    color: rgba(255, 255, 255, .95);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }

  &:hover {
    text-shadow: 4px 2px #4d9abf;
  }
}

.site-description {
  display: inline-block;
  padding: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.25), 0 1px 25px rgba(27, 31, 35, 0.5);
  margin-bottom: $spacing-unit;
}

@include media-query($on-tablet) {
  .site-title {
    font-size: $title1 * ($ratio*$ratio);
  }
  .site-description {
    font-size: $bigger;
  }
}

.site-footer {
  position: relative;
  padding: $spacing-unit*2 0 $spacing-unit;
  background: rgb(247,247,248);
  color: $grey;
  font-size: $small;
  text-align: center;

  a {
    color: $grey;

    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: $spacing-unit;

  li {
    display: inline-block;
    padding: 0 0.69445em;
  }
}
/**
 * Page content
 */
.page-content {
  margin-bottom: $base-line;

  abbr[title] {
    text-decoration: none;

    &:hover {
      cursor: help;
      text-decoration-color: rgba(0, 199, 183, .1);
      text-decoration-thickness: 1em;
      text-decoration: line-through;
    }
  }

  li {
    margin-bottom: ($base-line / 2);

    img {
      margin: ($base-line / 2) 0;
    }
  }

  .hr::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
  }

  .hr::after,
  hr {
    background-image: linear-gradient(90deg, rgba(14, 30, 37, 0) 0, #0e1e25 30%, #0e1e25 70%, rgba(14, 30, 37, 0) 100%);
    border: none;
    height: 1.728px;
    margin: $base-line auto;
    opacity: 0.12;
  }
}

.summary {
  font-size: 1rem/$ratio;
  color: $grey-light;
  padding: $spacing-unit/$ms1;
  margin: 0;

  em {
    font-style: normal;
    padding: $spacing-unit/($ratio*4);
    background: rgba($grey-light, .05);
  }
}

.post-list {
  margin: $base-line 0;
  list-style: none;

  .post-item {
    padding: $spacing-unit/$ms1;
    border-radius: 1rem;
    margin-bottom: $base-line*2;
    grid-column: auto;

    &:hover {
      background: rgba($grey-light, .05);
      cursor: pointer;
    }

    &::after {
      display: block;
      content: "";
      border-top: $small solid $brand-color;
      border-image: linear-gradient(45deg, $brand-light 0, $brand-color 100%) 10;
    }
  }
}

.home .post-meta {
  display: inline-block;
  margin-bottom: $spacing-unit / $ms5;
}

.post-meta {
  color: $grey;
  font-size: $smaller;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;

  a {
    font-weight: 400;
  }
}

.post-source {
  color: $grey;
  font-size: $small;
  font-weight: 600;
  text-align: right;
}

.post-link {
  display: block;
  line-height: 1.1;
  margin: 0 0 $line-height-computed / $ms7;
  font-family: $title-font-family;
  font-weight: 700;
  letter-spacing: $title-letter-spacing;

  a {
    text-decoration: none;
    color: $grey-dark;
  }
}
@include media-query($on-tablet) {
  .post-item {
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit * 8;
  }

  .post-link {
    font-size: $title1;
  }

  .post-description {
    font-size: $big;
  }
}
/* Posts */
.post-header {
  margin-bottom: $spacing-unit;

  &::after {
    display: block;
    content: "";
    border-top: $small solid $brand-color;
    border-image: linear-gradient(45deg, $brand-light 0, $brand-color 100%) 10;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}

.avatar {
  border-radius: 50%;
  margin-right: $spacing-unit / 4;
}

.post-intro {
  font-family: $title-font-family;
  line-height: $ms2;
  font-size: 1.25em;
  display: block;
  margin-bottom: $spacing-unit;

  a {
    font-weight: 400;
  }
}
/* utilities */
.highlight {
  margin: 2em calc(50% - 50vw);
}

.marker {
  background-color: rgba(255, 228, 0, 0.4);
  padding: 0.1rem;

  code {
    background-color: inherit;
    border: none;
    font-weight: 900;
  }
}

.notice {
  margin: 2em 0;
  padding: 1em;
  border-left: 0.25em solid rgba(169,197,234,.6);

  a {
    color: rgba(0,81,193,.54);
  }

  &.info {
    background-color: rgba(169,197,234,.2);
  }

  &.tip {
    background-color: rgba(255, 237, 127, 0.48);
    border-color: #feda00;

    code {
      background-color: #feda00;
      border-color: #feda00;
    }
  }

  &.update {
    background-color: #7fb842;
    color: white;
    border-color: #5c8530;
  }

  h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
  }

  p {
    a {
      color: #1a5891;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    background-color: rgba(189, 214, 236, 0.72);
  }
}

figure {
  display: block;
  margin: $base-line 0;
}

figure > iframe,
figure > img {
  margin: 0 auto 0.5em;
}

figcaption {
  text-align: center;
  font-style: italic;
  line-height: 1.2;
  color: $grey-light;
}
@include media-query($on-desktop) {
  figcaption {
    margin: auto;
  }
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 1.2em auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.edit,
.footnotes {
  font-size: $smaller;
  font-style: italic;
  color: $grey-dark;
}

.edit {
  display: inline-block;
  color: $grey-light;
  text-align: right;
  background: rgba($grey-light, .05);
  border-radius: 1em;
  border: 0;
  padding: $spacing-unit/2;
  margin-bottom: $base-line;
}

.related {
  line-height: $base-line;

  h3 {
    font-size: $bigger;
    margin-bottom: $base-line/2;
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: $big;
  }

  li {
    padding-left: 1rem;
    text-indent: -0.7rem;
  }

  li::before {
    content: "👉 ";
  }
}
