body {
  display: flex; // Use flexbox for a Sticky Footer
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 0 auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit} / 2));
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.page-content {
  flex: 1;
}

.site-header {
  padding: $base-line 0;
  color: rgba(255, 255, 255, 0.9);
  background-color: $contrast-bright;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);

}

.site-title {
  display: block;
  margin: 0 auto;
  font-family: $title-font-family;
  font-weight: 900;
  letter-spacing: $title-letter-spacing;
  line-height: 1;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.15),
    0 1px 25px rgba(27, 31, 35, 0.25);
  vertical-align: middle;
  text-align: center;

  &,
  &:hover,
  &:visited {
    color: rgba(255, 255, 255, 0.95);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }

  &:hover {
    text-shadow: 4px 2px $text-color;
  }
}

.site-description {
  display: inline-block;
  padding: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.25),
    0 1px 25px rgba(27, 31, 35, 0.5);
  margin-bottom: $spacing-unit;
}

@include media-query($on-tablet) {
  .site-title {
    font-size: $title1 * ($ratio * $ratio);
  }
  .site-description {
    font-size: $bigger;
  }
}

.site-footer {
  position: relative;
  padding: $spacing-unit * 2 0 $spacing-unit;
  background: rgba($brand-light, 0.1);
  color: $contrast-dark;
  font-size: $small;
  text-align: center;

  a {
    color: $contrast-dark;

    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: $spacing-unit;

  li {
    display: inline-block;
    padding: 0 0.69445em;
  }
}
/**
 * Page content
 */
.page-content {
  margin-bottom: $base-line;

  abbr[title] {
    text-decoration: none;

    &:hover {
      cursor: help;
      text-decoration-color: rgba(0, 199, 183, 0.1);
      text-decoration-thickness: 1em;
      text-decoration: line-through;
    }
  }

  li {
    margin-bottom: ($base-line / 2);

    img {
      margin: ($base-line / 2) 0;
    }
  }

  .hr::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
  }

  .hr::after,
  hr {
    background-image: linear-gradient(
      90deg,
      $brand-light,
      $text-color 30%,
      $text-color 70%,
      $brand-light 100%
    );
    border: none;
    height: 1.728px;
    margin: $base-line auto;
    opacity: 0.12;
  }
}

.nav {
  font-size: 1rem;
  color: $contrast-dark;
  padding-top: $base-line;

  nav {
    text-align: center;
  }

  h1 {
    margin: ($base-line * 2) 0;
  }

  .tag {
    font-style: normal;
    color: $brand-color;
  }
}

.post-list {
  margin: $base-line 0;
  list-style: none;

  .post-item {
    padding: $spacing-unit/$ms1;
    border-radius: 2rem;
    margin-bottom: $base-line * 2;
    grid-column: auto;

    a {
      text-decoration: none;
      font-weight: 400;
      color: inherit;
    }

    &:hover {
      background: rgba($brand-light, 0.1);
    }
  }
}

.home .post-meta {
  display: inline-block;
  margin-bottom: $spacing-unit / $ms5;
}

.post-meta {
  color: $contrast-dark;
  font-size: $smaller;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
  font-weight: 800;
}

.post-title {
  margin-bottom: $spacing-unit;
}

.post-source {
  display: inline-block;
  background-color: $text-color;
  color: white;
  padding: .5em 1em;
  text-align: center;

  a {
    color: white;
  }

}

.post-link {
  display: block;
  line-height: 1.1;
  margin: 0 0 $line-height-computed / $ms7;
  font-family: $title-font-family;
  font-weight: 700;
  letter-spacing: $title-letter-spacing;

  a {
    text-decoration: none;
    color: $contrast-dark;
  }
}
@include media-query($on-tablet) {
  .post-item {
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit * 8;
  }

  .post-link {
    font-size: $title1;
  }

  .post-description {
    font-size: $big;
  }
}
/* Posts */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-content {
  margin-bottom: $spacing-unit;

  li p {
    margin: auto;
  }
}

.avatar {
  border-radius: 50%;
  margin-right: $spacing-unit / 4;
}

.post-intro {
  line-height: $ms2;
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  margin-bottom: $spacing-unit;
}

/* utilities */
.post-content > .highlight {
  margin: 2em calc(50% - 50vw);
}

.marker {
  background-color: rgba(255, 228, 0, 0.4);
  padding: 0.1rem;

  code {
    background-color: inherit;
    border: none;
    font-weight: 900;
  }
}

.notice {
  margin: 2em 0;
  padding: 1em;
  border-left: 0.25em solid rgba(125,172,255,0.6);

  h3 {
    margin-top: auto;
  }

  &.info {
    background-color: rgba(125,172,255, 0.2);
  }

  &.tip {
    background-color: rgba(255, 237, 127, 0.2);
    border-color: #feda00;

    &::before {
      content: "💡 ";
    }

    code {
      background-color: #feda00;
      border-color: #feda00;
    }
  }

  &.update {
    background-color: #7fb842;
    color: white;
    border-color: #5c8530;
  }

  h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
  }

  p {

    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    background-color: rgba(189, 214, 236, 0.72);
  }
}

figure {
  display: block;
  margin: $base-line 0;
}

figure > iframe,
figure > img {
  margin: 0 auto 0.5em;
}

figcaption {
  text-align: center;
  font-style: italic;
  line-height: 1.2;
  color: $contrast-dark;
}
@include media-query($on-desktop) {
  figcaption {
    margin: auto;
  }
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 1.2em auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.edit,
.footnotes {
  font-size: $smaller;
  font-style: italic;
}

.edit {
  display: inline-block;
  color: $contrast-dark;
  text-align: right;
  background: rgba($brand-light, 0.1);
  border-radius: 1em;
  border: 0;
  padding: $spacing-unit/2;
  margin-bottom: $base-line;

  a {
    color: $contrast-dark;
  }
}

.related {
  line-height: $base-line;

  a {
    text-decoration: underline;
    color: $text-color;
  }

  h3 {
    font-size: $bigger;
    margin-bottom: $base-line/2;
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: $big;
  }

  li {
    padding-left: 1rem;
    text-indent: -0.7rem;
  }

  li::before {
    content: "🎗 ";
  }
}
