body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  margin: 0 auto;
  max-width: calc(#{$content-width} - (#{$spacing-unit} / 2));
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
}

.page-content {
  flex: 1;
}

.site-header {
  padding: $base-line 0;
  color: rgba(255, 255, 255, 0.9);
  background-color: $brand-color;
  border-top: $smallest solid rgba($light-contrast, 0.95);
  margin-bottom: $spacing-unit;
  clip-path: polygon(0 0,100% 0,100% 80%,0% 100%);

  h1{
    margin: 0;
  }
}

.site-title {
  text-align: right;
  padding: 0 0 $spacing-unit 0;

  svg {
    max-width: 320px;
  }

  &,
  &:hover,
  &:visited {
    color: rgba(255, 255, 255, 0.95);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }

  &:hover {
    text-shadow: 4px 2px $brand-color;
  }
}

.site-description {
  font-family: $title-font-family;
  font-size: $small;
  padding-right: .75em;
  text-shadow: 0 1px 1px rgba($dark-contrast, 0.25),
    0 1px 25px rgba($dark-contrast, 0.25);
}

@include media-query($on-tablet) {
  .site-title svg {
    max-width: 600px;
  }
  .site-description {
    margin-top: -($spacing-unit);
  }
}

.site-footer {
  position: relative;
  padding: $spacing-unit * 2 0 $spacing-unit;
  background: rgba($brand-color, 1);
  border-bottom: $smallest solid rgba($light-contrast, 1);
  color: white;
  font-size: $small;
  text-align: center;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);

  a {
    color: white;
  }
}

.social-media-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: $spacing-unit;

  li {
    display: inline-block;
    padding: 0 0.69445em;
  }
}
/**
 * Page content
 */
.page-content {
  margin: $base-line*2 0;

  abbr[title] {
    text-decoration: none;

    &:hover {
      cursor: help;
      text-decoration-color: rgba(0, 199, 183, 0.1);
      text-decoration-thickness: 1em;
      text-decoration: line-through;
    }
  }

  li {
    margin-bottom: ($base-line / 2);

    img {
      margin: ($base-line / 2) 0;
    }
  }

  .hr::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
  }

  .hr::after,
  hr {
    background-image: linear-gradient(
      90deg,
      rgba($brand-light, .25) 0,
      $brand-light 33%,
      $brand-light 66%,
      rgba($brand-light, .25) 100%
    );
    border: none;
    height: 1.728px;
    margin: $base-line auto;
    opacity: 0.25;
  }
}

.nav {
  font-size: 1rem;
  color: $brand-secondary;
  padding-top: $base-line;

  nav {
    text-align: center;
  }

  h1 {
    margin: ($base-line * 2) 0;
  }

  .tag {
    font-style: normal;
    color: $brand-secondary;
  }
}

.post-list {
  list-style: none;

  .post-item {
    padding: $spacing-unit/$ms1;
    border-radius: 1rem;
    margin-bottom: $base-line;

    a {
      text-decoration: none;
      font-weight: 400;
      color: inherit;
    }

    &:hover {
      background: rgba($brand-light, .1);
    }
  }
}

.home .post-meta {
  display: inline-block;
  margin-bottom: $spacing-unit / $ms5;

  .post-category,
  .post-author {
    color: $brand-color;
  }

}

.home .post-description {
  margin-bottom: 0;
}

.post-meta {
  color: $grey;
  font-size: $smaller;
  font-family: $title-font-family;
  font-weight: 400;
  letter-spacing: $title-letter-spacing;
  text-transform: uppercase;
  margin-bottom: 0;

  a {
    color: $brand-color;
    font-weight: 400;
  }
}

.post-source {
  color: $grey;
  font-family: $title-font-family;
  font-size: $small;
  font-weight: 400;
  text-align: right;

  a{
    color: $brand-secondary;
  }
}

.post-link {
  display: block;
  line-height: 1.1;
  margin: 0 0 $base-line / $ms7;
  font-family: $title-font-family;
  font-weight: 700;
  letter-spacing: $title-letter-spacing;
  color: $brand-color;

  a {
    text-decoration: none;
    color: $grey-dark;
  }
}
@include media-query($on-tablet) {
  .post-item {
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit * 8;
  }

  .post-link {
    font-size: $title1;
  }

  .post-description {
    font-size: $big;
  }
}
/* Posts */

.post-header {
  padding: $spacing-unit/$ms1;
  border-radius: 1rem;
  margin: 0 0 $spacing-unit;
  background: rgba($brand-light, .1);
  position: sticky;

  .post-title {
    margin-top: 0;
  }
}

.post-title {
  line-height: $base-line / $ms2;
  color: $brand-color;
}

.post-content {
  margin-bottom: $spacing-unit;

  li p {
    margin: auto;
  }
}

.avatar {
  border-radius: 50%;
  margin-right: $spacing-unit / 4;
}

.post-intro {
  font-family: $title-font-family;
  line-height: $ms2;
  font-size: 1.25em;
  display: block;
  margin-bottom: $spacing-unit;
  font-weight: 400;
}
/* utilities */
.post-content > .highlight {
  margin: 2em calc(50% - 50vw);
}

.marker {
  background-color: rgba(255, 228, 0, 0.4);
  padding: 0.1rem;

  code {
    background-color: inherit;
    border: none;
    font-weight: 800;
  }
}

.notice {
  margin: 2em 0;
  padding: 1em;
  border-left: 0.25em solid rgba(169, 197, 234, 0.6);

  h3 {
    margin-top: auto;
  }

  a {
    color: rgba(0, 81, 193, 0.54);
  }

  &.info {
    background-color: rgba(169, 197, 234, 0.2);
  }

  &.tip {
    background-color: rgba(255, 237, 127, 0.2);
    border-color: #feda00;

    &::before {
      content: "💡 ";
    }

    code {
      background-color: #feda00;
      border-color: #feda00;
    }
  }

  &.update {
    background-color: #7fb842;
    color: white;
    border-color: #5c8530;
  }

  h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
  }

  p {
    a {
      color: #1a5891;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    background-color: rgba(189, 214, 236, 0.72);
  }
}

figure {
  display: block;
  margin: $base-line 0;
}

figure > iframe,
figure > img {
  margin: 0 auto 0.5em;
}

figcaption {
  text-align: center;
  font-style: italic;
  line-height: 1.2;
  color: $grey-light;
}
@include media-query($on-desktop) {
  figcaption {
    margin: auto;
  }
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 1.2em auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.edit,
.footnotes {
  font-size: $smaller;
  font-style: italic;
  color: $grey-dark;
}

.edit {
  display: inline-block;
  color: $grey-light;
  text-align: right;
  background: rgba($brand-light, 0.15);
  border-radius: .5em;
  border: 0;
  padding: $spacing-unit/2;
  margin-bottom: $base-line;
}

.related {
  line-height: $base-line;

  h3 {
    font-size: $bigger;
    color: $brand-secondary;
    margin-bottom: $base-line/2;
  }

  ul {
    list-style: none;
    margin: 0;
    font-size: $big;
  }

  li {
    padding-left: 1rem;
    text-indent: -0.7rem;

    a {
      font-weight: 800;
    }
  }

  li::before {
    content: "🎗 ";
  }
}

.twitter-tweet {
  margin: 0 auto;
}