/* Background */ .post-content > .highlight { background-color: rgba(#7DACFF,0.1) }
/* Error */ .chroma .ss4 { color: #aa0000; background-color: #ffaaaa }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #006699; font-weight: bold }
/* KeywordPseudo */ .chroma .s3ec { color: #006699 }
/* KeywordType */ .chroma .s3ee { color: #007788; font-weight: bold }
/* NameAttribute */ .chroma .s7d1 { color: #330099 }
/* NameBuiltin */ .chroma .s7d2 { color: #336666 }
/* NameClass */ .chroma .s7d4 { color: #00aa88; font-weight: bold }
/* NameConstant */ .chroma .s7d5 { color: #336600 }
/* NameDecorator */ .chroma .s7d6 { color: #9999ff }
/* NameEntity */ .chroma .s7d7 { color: #999999; font-weight: bold }
/* NameException */ .chroma .s7d8 { color: #cc0000; font-weight: bold }
/* NameFunction */ .chroma .s7d9 { color: #cc00ff }
/* NameLabel */ .chroma .s7dc { color: #9999ff }
/* NameNamespace */ .chroma .s7dd { color: #00ccff; font-weight: bold }
/* NameTag */ .chroma .s7e2 { color: #330099; font-weight: bold }
/* NameVariable */ .chroma .s7e3 { color: #003333 }
/* LiteralString */ .chroma .sc1c { color: #cc3300 }
/* LiteralStringDoc */ .chroma .sc23 { color: #cc3300; font-style: italic }
/* LiteralStringEscape */ .chroma .sc25 { color: #cc3300; font-weight: bold }
/* LiteralStringInterpol */ .chroma .sc27 { color: #aa0000 }
/* LiteralStringOther */ .chroma .sc29 { color: #cc3300 }
/* LiteralStringRegex */ .chroma .sc2a { color: #33aaaa }
/* LiteralStringSymbol */ .chroma .sc2c { color: #ffcc33 }
/* LiteralNumber */ .chroma .sc80 { color: #ff6600 }
/* Operator */ .chroma .sfa0 { color: #555555 }
/* OperatorWord */ .chroma .sfa1 { color: #000000; font-weight: bold }
/* Comment */ .chroma .s1770 { color: #0099ff; font-style: italic }
/* CommentSpecial */ .chroma .s1774 { color: #0099ff; font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .s17d4 { color: #009999 }
/* GenericDeleted */ .chroma .s1b59 { background-color: #ffcccc }
/* GenericEmph */ .chroma .s1b5a { font-style: italic }
/* GenericError */ .chroma .s1b5b { color: #ff0000 }
/* GenericHeading */ .chroma .s1b5c { color: #003300; font-weight: bold }
/* GenericInserted */ .chroma .s1b5d { background-color: #ccffcc }
/* GenericOutput */ .chroma .s1b5e { color: #aaaaaa }
/* GenericPrompt */ .chroma .s1b5f { color: #000099; font-weight: bold }
/* GenericStrong */ .chroma .s1b60 { font-weight: bold }
/* GenericSubheading */ .chroma .s1b61 { color: #003300; font-weight: bold }
/* GenericTraceback */ .chroma .s1b62 { color: #99cc66 }
/* TextWhitespace */ .chroma .s1f41 { color: #bbbbbb }
