$base-font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$base-font-size: 18px;
$small-font-size: $base-font-size * (1/1.44);
$base-font-weight: 400;
$title-font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$title-font-weight: 900;
$title-letter-spacing: 0.021736em;
$base-line-height: 1.5;
$ratio: 1.2;
$base: 1;
$base-em: $base * 1em;
$base-px: $base * 16px;
$ms0: 1;
$ms1: $ratio;        // 1.2
$ms2: $ratio * $ms1; // 1.44
$ms3: $ratio * $ms2; // 1.728
$ms4: $ratio * $ms3; // 2.074
$ms5: $ratio * $ms4; // 2.488
$ms6: $ratio * $ms5; // 2.986
$ms7: $ratio * $ms6; // 3.583
$smallest: $base-em / $ms3;
$smaller: $base-em / $ms2;
$small: $base-em / $ms1;
$normal: $base-em * $ms0;
$big: $base-em * $ms1;
$bigger: $base-em * $ms2;
$title2: $base-em * $ms3;
$title1: $base-em * $ms5;
$spacing-unit: $base-font-size * $ms3;
$line-height-base: $base * $ms2;
$line-height-computed: $base-em * $line-height-base;
$base-line: $line-height-computed; // Width of the content area
// Breakpoints
$content-width: 55.206rem;
$on-tablet: 46.005rem;
$on-desktop: 56.934rem; // content-with + ms3
// Colors
$text-color: rgba(14,30,37,.9);
$brand-color: #2f91a7;
$brand-light: #45b8d2;
$grey: #8b8b8b;
$grey-light: rgba(14,30,37,.77);
$grey-dark: rgba(14,30,37,.92);
