@charset "utf-8";
@import "normalize", "fonts", "variables", "mixins", "base", "utilities", "typography", "layout", "syntax-highlighting", "print";

figure {
  display: block;
  margin-top: $base-line-height * 2em;
}

figure > img {
  margin: 0 auto 0.5em;
}

figcaption {
  font-size: $small;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);

  a {
    color: $grey;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: $line-height-computed * 2;

  td,
  th {
    padding: $spacing-unit/2;
    border-bottom: 0.0134em solid $grey;
  }
}

.table-caption {
  font-size: $small;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
  margin-bottom: 1em;
  padding: 0;
}

.phony::before {
  content: "exemple : ";
  position: relative;
  top: 0;
}

summary {
  color: $brand-color;
  cursor: pointer;
}

.icon:hover {
  color: $brand-color;
}

.icon--twitter {
  color: #1da1f2;
}

.icon--github {
  color: #24292e;
}

.icon--rss {
  color: #e3702d;
}
