<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
  {{- partial "site/head" . -}}

  <body class="{{ .Kind }} dark:bg-gray-900">
    <div class="sticky top-0 z-10 text-white bg-violet-light">
      <nav class="py-2 px-4">
        <ul class="flex justify-end space-x-4">
          <li class="w-6">{{- partialCached "icons/podcast" . -}}</li>
          <li class="w-6">{{- partialCached "icons/slack" . -}}</li>
          <li class="w-6">{{- partialCached "icons/twitter" . -}}</li>
          <li class="w-6">{{- partialCached "icons/github" . -}}</li>
        </ul>
      </nav>
    </div>
    {{- partial "site/header" . -}}

    <div class="container w-11/12 py-8 mx-auto lg:w-2/3 xl:w-1/2">
      {{ block "main" . }}{{ end }}
    </div>

    {{- partialCached "site/footer" . -}} 
    
    {{- partialCached "site/scripts" . -}} 

  </body>
</html>
