{{ define "main" }}
  <div class="nav">
    <nav>
      {{ $cats := first 8 (where site.Taxonomies.categories.ByCount "Count" ">" 3) }}
      {{ delimit (apply $cats "partial" "category-link" ".") " · " }}
    </nav>
    <h1 class="center post-title">
      Articles taggués <em class="tag cap">{{ .Title }}</em>
    </h1>
  </div>
  <hr />
  <ul class="post-list">
    {{ range .Data.Pages }}
      <li class="post-item">
        <a href="{{ .RelPermalink }}">
          <h2 class="post-link">{{ .Title }}</h2>
          <span class="post-meta"
            >{{ $mymonths := .Site.Data.mois }}{{ .Date.Day }}
            {{ index $mymonths (printf "%d" .Date.Month) }}
            {{ .Date.Year }}</span
          >
          <p class="post-description">{{ .Description }}</p>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
