{{ define "title" }}
  {{ .Site.Title }}, {{ lower .Site.Params.Description }}
{{ end }}

{{ define "main" }}
  <main>
    <div id="search-searchbar"></div>
    <ul id="search-hits">
      {{ range .Site.RegularPages }}
        <li class="py-8 my-8 bg-opacity-50 rounded-lg">
          <a class="block" href="{{ .RelPermalink }}">
            <h2
              class="mb-2 text-4xl font-black transition duration-200 font-display text-violet dark:text-violet-light hover:underline hover:text-violet-light xl:leading-snug"
            >
              {{ partial "content.html" .Title . }}
            </h2>
            <p class="mb-4 text-gray-400 font-body">
              <time
                class="capitalize"
                datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}"
                itemprop="datePublished"
              >
                {{- $mymonths := .Site.Data.mois }}
                {{- .Date.Day }} {{ index $mymonths (printf "%d" .Date.Month) }}
                {{ .Date.Year -}}
              </time>
            </p>
            <p class="text-2xl text-gray-600 dark:text-gray-300">
              {{ partial "content.html" .Description }}
            </p>
          </a>
        </li>
        <hr class="border-gray-200 dark:border-gray-800">
      {{ end }}
    </ul>
  </main>
{{ end }}
