{{ define "title" }}
 {{ .Site.Title }}, {{ lower .Site.Params.Description }}
{{ end }}

{{ define "main" }}
  <main class="home">
    <div id="search-searchbar"></div>
    <ul class="post-list" id="search-hits">
      {{ range .Site.RegularPages }}
      <li class="post-item swoosh">
        <a href="{{ .RelPermalink }}">
        <span class="post-meta">{{ $mymonths := .Site.Data.mois }}{{ .Date.Day }} {{ index $mymonths (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
        <h2 class="post-link">{{ partial "content.html" .Title . }}</h2>
        <p class="post-description">{{ partial "content.html" .Description }}</p>
        </a>
      </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
