*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(125 172 255 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(125 172 255 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #E4E4E7;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #A1A1AA;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #A1A1AA;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.markdown {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.markdown :where(p):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.markdown :where([class~="lead"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.markdown :where(a):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: #300a66;
  text-decoration: underline;
  font-weight: 500;
}

.markdown :where(a):not(:where([class~="not-markdown"],[class~="not-markdown"] *)):hover {
  color: #4a21cc;
}

.markdown :where(strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.markdown :where(a strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(blockquote strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(thead th strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(ol):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.markdown :where(ol[type="A"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: upper-alpha;
}

.markdown :where(ol[type="a"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: lower-alpha;
}

.markdown :where(ol[type="A" s]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: upper-alpha;
}

.markdown :where(ol[type="a" s]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: lower-alpha;
}

.markdown :where(ol[type="I"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: upper-roman;
}

.markdown :where(ol[type="i"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: lower-roman;
}

.markdown :where(ol[type="I" s]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: upper-roman;
}

.markdown :where(ol[type="i" s]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: lower-roman;
}

.markdown :where(ol[type="1"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: decimal;
}

.markdown :where(ul):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.markdown :where(ol > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::marker {
  font-weight: 400;
  color: var(--tw-prose-counters);
}

.markdown :where(ul > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::marker {
  color: var(--tw-prose-bullets);
}

.markdown :where(dt):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.25em;
}

.markdown :where(hr):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.markdown :where(blockquote):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-inline-start-width: 0.25rem;
  border-inline-start-color: var(--tw-prose-quote-borders);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-inline-start: 1em;
  padding: .5em;
}

.markdown :where(blockquote p:first-of-type):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::before {
  content: open-quote;
}

.markdown :where(blockquote p:last-of-type):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::after {
  content: close-quote;
}

.markdown :where(h1):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: #300a66;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
  font-family: Poppins;
}

.markdown :where(h1 strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  font-weight: 900;
  color: inherit;
}

.markdown :where(h2):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: #300a66;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
  font-family: Poppins;
}

.markdown :where(h2 strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  font-weight: 800;
  color: inherit;
}

.markdown :where(h3):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: #300a66;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  font-family: Poppins;
}

.markdown :where(h3 strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  font-weight: 700;
  color: inherit;
}

.markdown :where(h4):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.markdown :where(h4 strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  font-weight: 700;
  color: inherit;
}

.markdown :where(img):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.markdown :where(picture):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.markdown :where(video):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.markdown :where(kbd):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  font-weight: 500;
  font-family: inherit;
  color: var(--tw-prose-kbd);
  box-shadow: 0 0 0 1px var(--tw-prose-kbd-shadows), 0 3px 0 var(--tw-prose-kbd-shadows);
  font-size: 0.875em;
  border-radius: 0.3125rem;
  padding-top: 0.1875em;
  padding-inline-end: 0.375em;
  padding-bottom: 0.1875em;
  padding-inline-start: 0.375em;
}

.markdown :where(code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: 0.875em;
}

.markdown :where(code):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::before {
  content: "`";
}

.markdown :where(code):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::after {
  content: "`";
}

.markdown :where(a code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(h1 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(h2 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
  font-size: 0.875em;
}

.markdown :where(h3 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
  font-size: 0.9em;
}

.markdown :where(h4 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(blockquote code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(thead th code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: inherit;
}

.markdown :where(pre):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
  background: rgba(128, 174, 255, 0.1);
}

.markdown :where(pre code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: #231B31;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.markdown :where(pre code):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::before {
  content: none;
}

.markdown :where(pre code):not(:where([class~="not-markdown"],[class~="not-markdown"] *))::after {
  content: none;
}

.markdown :where(table):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  width: 100%;
  table-layout: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.markdown :where(thead):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}

.markdown :where(thead th):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.markdown :where(tbody tr):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}

.markdown :where(tbody tr:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  border-bottom-width: 0;
}

.markdown :where(tbody td):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  vertical-align: baseline;
}

.markdown :where(tfoot):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  border-top-width: 1px;
  border-top-color: var(--tw-prose-th-borders);
}

.markdown :where(tfoot td):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  vertical-align: top;
}

.markdown :where(th, td):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  text-align: start;
}

.markdown :where(figure > *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown :where(figcaption):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.markdown {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-kbd: #111827;
  --tw-prose-kbd-shadows: rgb(17 24 39 / 10%);
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: rgb(255 255 255 / 10%);
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}

.markdown :where(picture > img):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown :where(li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown :where(ol > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  padding-inline-start: 0.375em;
}

.markdown :where(ul > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  padding-inline-start: 0.375em;
}

.markdown :where(.markdown > ul > li p):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.markdown :where(.markdown > ul > li > p:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 1.25em;
}

.markdown :where(.markdown > ul > li > p:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-bottom: 1.25em;
}

.markdown :where(.markdown > ol > li > p:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 1.25em;
}

.markdown :where(.markdown > ol > li > p:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-bottom: 1.25em;
}

.markdown :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.markdown :where(dl):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.markdown :where(dd):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0.5em;
  padding-inline-start: 1.625em;
}

.markdown :where(hr + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0;
}

.markdown :where(h2 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0;
}

.markdown :where(h3 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0;
}

.markdown :where(h4 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0;
}

.markdown :where(thead th:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  padding-inline-start: 0;
}

.markdown :where(thead th:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  padding-inline-end: 0;
}

.markdown :where(tbody td, tfoot td):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  padding-top: 0.5714286em;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.markdown :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  padding-inline-start: 0;
}

.markdown :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  padding-inline-end: 0;
}

.markdown :where(figure):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.markdown :where(.markdown > :first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-top: 0;
}

.markdown :where(.markdown > :last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
  margin-bottom: 0;
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0px;
}

.z-10 {
  z-index: 10;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-4 {
  width: 1rem;
}

.w-6 {
  width: 1.5rem;
}

.w-72 {
  width: 18rem;
}

.w-8 {
  width: 2rem;
}

.w-\[24px\] {
  width: 24px;
}

.flex-auto {
  flex: 1 1 auto;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.scroll-pt-\[32px\] {
  scroll-padding-top: 32px;
}

.list-none {
  list-style-type: none;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.375rem * var(--tw-space-x-reverse));
  margin-left: calc(0.375rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-b-8 {
  border-bottom-width: 8px;
}

.border-violet-light {
  --tw-border-opacity: 1;
  border-color: rgb(74 33 204 / var(--tw-border-opacity, 1));
}

.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 239 255 / var(--tw-bg-opacity, 1));
}

.bg-violet {
  --tw-bg-opacity: 1;
  background-color: rgb(48 10 102 / var(--tw-bg-opacity, 1));
}

.bg-violet-light {
  --tw-bg-opacity: 1;
  background-color: rgb(74 33 204 / var(--tw-bg-opacity, 1));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-display {
  font-family: Poppins, system-ui, sans-serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.capitalize {
  text-transform: capitalize;
}

.leading-loose {
  line-height: 2;
}

.text-black-grape-400 {
  --tw-text-opacity: 1;
  color: rgb(78 62 112 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(82 82 91 / var(--tw-text-opacity, 1));
}

.text-rose {
  --tw-text-opacity: 1;
  color: rgb(255 72 99 / var(--tw-text-opacity, 1));
}

.text-rose-600 {
  --tw-text-opacity: 1;
  color: rgb(255 72 99 / var(--tw-text-opacity, 1));
}

.text-violet {
  --tw-text-opacity: 1;
  color: rgb(48 10 102 / var(--tw-text-opacity, 1));
}

.text-violet-dark {
  --tw-text-opacity: 1;
  color: rgb(38 21 63 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.no-underline {
  text-decoration-line: none;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-60 {
  opacity: 0.6;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-1000 {
  transition-duration: 1000ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

figure img {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

figure figcaption {
  text-align: center;
  font-style: italic;
}

.fill-current {
  fill: currentColor !important;
}

.markdown {
  max-width: 100%;
}

.anchorjs-link {
  --tw-text-opacity: 1;
  color: rgb(48 10 102 / var(--tw-text-opacity, 1));
  text-decoration-line: none;
}

.anchorjs-link:hover {
  --tw-text-opacity: 1;
  color: rgb(74 33 204 / var(--tw-text-opacity, 1));
}

:target {
  scroll-margin-top: 48px;
}

.note {
  margin-bottom: 1rem;
  border-left-width: 4px;
  --tw-bg-opacity: 0.5;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.note :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.note p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.note-intro {
  --tw-border-opacity: 1;
  border-color: rgb(177 163 204 / var(--tw-border-opacity, 1));
}

@media (prefers-color-scheme: dark) {
  .note-intro {
    --tw-border-opacity: 1;
    border-color: rgb(78 62 112 / var(--tw-border-opacity, 1));
  }
}

.note-intro {
  text-align: justify;
}

.note-info {
  --tw-border-opacity: 1;
  border-color: rgb(177 163 204 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(230 225 239 / var(--tw-bg-opacity, 1));
}

@media (prefers-color-scheme: dark) {
  .note-info {
    --tw-border-opacity: 1;
    border-color: rgb(78 62 112 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(35 27 49 / var(--tw-bg-opacity, 1));
  }
}

.note-tip {
  --tw-border-opacity: 1;
  border-color: rgb(204 223 255 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(229 239 255 / var(--tw-bg-opacity, 1));
}

@media (prefers-color-scheme: dark) {
  .note-tip {
    --tw-border-opacity: 1;
    border-color: rgb(153 190 255 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(35 27 49 / var(--tw-bg-opacity, 1));
  }
}

.note-important {
  --tw-border-opacity: 1;
  border-color: rgb(251 207 228 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(253 238 242 / var(--tw-bg-opacity, 1));
}

@media (prefers-color-scheme: dark) {
  .note-important {
    --tw-border-opacity: 1;
    border-color: rgb(251 110 165 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(35 27 49 / var(--tw-bg-opacity, 1));
  }
}

blockquote p {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

summary::-webkit-details-marker {
  display: none;
}

.hljs {
  background: none !important;
}

pre code.hljs {
  padding: 0 !important;
}

@media (min-width: 640px) {
  .sm\:markdown-lg {
    font-size: 1.125rem;
    line-height: 1.7777778;
  }

  .sm\:markdown-lg :where(p):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }

  .sm\:markdown-lg :where([class~="lead"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 1.2222222em;
    line-height: 1.4545455;
    margin-top: 1.0909091em;
    margin-bottom: 1.0909091em;
  }

  .sm\:markdown-lg :where(blockquote):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.6666667em;
    margin-bottom: 1.6666667em;
    padding-inline-start: 1em;
  }

  .sm\:markdown-lg :where(h1):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 2.6666667em;
    margin-top: 0;
    margin-bottom: 0.8333333em;
    line-height: 1;
  }

  .sm\:markdown-lg :where(h2):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 1.6666667em;
    margin-top: 1.8666667em;
    margin-bottom: 1.0666667em;
    line-height: 1.3333333;
  }

  .sm\:markdown-lg :where(h3):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 1.3333333em;
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    line-height: 1.5;
  }

  .sm\:markdown-lg :where(h4):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 0.4444444em;
    line-height: 1.5555556;
  }

  .sm\:markdown-lg :where(img):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
  }

  .sm\:markdown-lg :where(picture):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
  }

  .sm\:markdown-lg :where(picture > img):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sm\:markdown-lg :where(video):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
  }

  .sm\:markdown-lg :where(kbd):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.8888889em;
    border-radius: 0.3125rem;
    padding-top: 0.2222222em;
    padding-inline-end: 0.4444444em;
    padding-bottom: 0.2222222em;
    padding-inline-start: 0.4444444em;
  }

  .sm\:markdown-lg :where(code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.8888889em;
  }

  .sm\:markdown-lg :where(h2 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.8666667em;
  }

  .sm\:markdown-lg :where(h3 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.875em;
  }

  .sm\:markdown-lg :where(pre):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.8888889em;
    line-height: 1.75;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.375rem;
    padding-top: 1em;
    padding-inline-end: 1.5em;
    padding-bottom: 1em;
    padding-inline-start: 1.5em;
  }

  .sm\:markdown-lg :where(ol):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-inline-start: 1.5555556em;
  }

  .sm\:markdown-lg :where(ul):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-inline-start: 1.5555556em;
  }

  .sm\:markdown-lg :where(li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.6666667em;
    margin-bottom: 0.6666667em;
  }

  .sm\:markdown-lg :where(ol > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0.4444444em;
  }

  .sm\:markdown-lg :where(ul > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0.4444444em;
  }

  .sm\:markdown-lg :where(.sm\:markdown-lg > ul > li p):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.8888889em;
    margin-bottom: 0.8888889em;
  }

  .sm\:markdown-lg :where(.sm\:markdown-lg > ul > li > p:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.3333333em;
  }

  .sm\:markdown-lg :where(.sm\:markdown-lg > ul > li > p:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-bottom: 1.3333333em;
  }

  .sm\:markdown-lg :where(.sm\:markdown-lg > ol > li > p:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.3333333em;
  }

  .sm\:markdown-lg :where(.sm\:markdown-lg > ol > li > p:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-bottom: 1.3333333em;
  }

  .sm\:markdown-lg :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.8888889em;
    margin-bottom: 0.8888889em;
  }

  .sm\:markdown-lg :where(dl):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }

  .sm\:markdown-lg :where(dt):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.3333333em;
  }

  .sm\:markdown-lg :where(dd):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.6666667em;
    padding-inline-start: 1.5555556em;
  }

  .sm\:markdown-lg :where(hr):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 3.1111111em;
    margin-bottom: 3.1111111em;
  }

  .sm\:markdown-lg :where(hr + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .sm\:markdown-lg :where(h2 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .sm\:markdown-lg :where(h3 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .sm\:markdown-lg :where(h4 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .sm\:markdown-lg :where(table):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.8888889em;
    line-height: 1.5;
  }

  .sm\:markdown-lg :where(thead th):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-end: 0.75em;
    padding-bottom: 0.75em;
    padding-inline-start: 0.75em;
  }

  .sm\:markdown-lg :where(thead th:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0;
  }

  .sm\:markdown-lg :where(thead th:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-end: 0;
  }

  .sm\:markdown-lg :where(tbody td, tfoot td):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-top: 0.75em;
    padding-inline-end: 0.75em;
    padding-bottom: 0.75em;
    padding-inline-start: 0.75em;
  }

  .sm\:markdown-lg :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0;
  }

  .sm\:markdown-lg :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-end: 0;
  }

  .sm\:markdown-lg :where(figure):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
  }

  .sm\:markdown-lg :where(figure > *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sm\:markdown-lg :where(figcaption):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.8888889em;
    line-height: 1.5;
    margin-top: 1em;
  }

  .sm\:markdown-lg :where(.sm\:markdown-lg > :first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .sm\:markdown-lg :where(.sm\:markdown-lg > :last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .lg\:markdown-xl {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  .lg\:markdown-xl :where(p):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  .lg\:markdown-xl :where([class~="lead"]):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .lg\:markdown-xl :where(blockquote):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-inline-start: 1.0666667em;
  }

  .lg\:markdown-xl :where(h1):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: 0.8571429em;
    line-height: 1;
  }

  .lg\:markdown-xl :where(h2):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 1.8em;
    margin-top: 1.5555556em;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }

  .lg\:markdown-xl :where(h3):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 1.5em;
    margin-top: 1.6em;
    margin-bottom: 0.6666667em;
    line-height: 1.3333333;
  }

  .lg\:markdown-xl :where(h4):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.8em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  .lg\:markdown-xl :where(img):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .lg\:markdown-xl :where(picture):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .lg\:markdown-xl :where(picture > img):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .lg\:markdown-xl :where(video):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .lg\:markdown-xl :where(kbd):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.9em;
    border-radius: 0.3125rem;
    padding-top: 0.25em;
    padding-inline-end: 0.4em;
    padding-bottom: 0.25em;
    padding-inline-start: 0.4em;
  }

  .lg\:markdown-xl :where(code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.9em;
  }

  .lg\:markdown-xl :where(h2 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.8611111em;
  }

  .lg\:markdown-xl :where(h3 code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.9em;
  }

  .lg\:markdown-xl :where(pre):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.9em;
    line-height: 1.7777778;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem;
    padding-top: 1.1111111em;
    padding-inline-end: 1.3333333em;
    padding-bottom: 1.1111111em;
    padding-inline-start: 1.3333333em;
  }

  .lg\:markdown-xl :where(ol):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-inline-start: 1.6em;
  }

  .lg\:markdown-xl :where(ul):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-inline-start: 1.6em;
  }

  .lg\:markdown-xl :where(li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }

  .lg\:markdown-xl :where(ol > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0.4em;
  }

  .lg\:markdown-xl :where(ul > li):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0.4em;
  }

  .lg\:markdown-xl :where(.lg\:markdown-xl > ul > li p):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .lg\:markdown-xl :where(.lg\:markdown-xl > ul > li > p:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.2em;
  }

  .lg\:markdown-xl :where(.lg\:markdown-xl > ul > li > p:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-bottom: 1.2em;
  }

  .lg\:markdown-xl :where(.lg\:markdown-xl > ol > li > p:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.2em;
  }

  .lg\:markdown-xl :where(.lg\:markdown-xl > ol > li > p:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-bottom: 1.2em;
  }

  .lg\:markdown-xl :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .lg\:markdown-xl :where(dl):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  .lg\:markdown-xl :where(dt):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 1.2em;
  }

  .lg\:markdown-xl :where(dd):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0.6em;
    padding-inline-start: 1.6em;
  }

  .lg\:markdown-xl :where(hr):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 2.8em;
    margin-bottom: 2.8em;
  }

  .lg\:markdown-xl :where(hr + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .lg\:markdown-xl :where(h2 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .lg\:markdown-xl :where(h3 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .lg\:markdown-xl :where(h4 + *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .lg\:markdown-xl :where(table):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.9em;
    line-height: 1.5555556;
  }

  .lg\:markdown-xl :where(thead th):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-end: 0.6666667em;
    padding-bottom: 0.8888889em;
    padding-inline-start: 0.6666667em;
  }

  .lg\:markdown-xl :where(thead th:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0;
  }

  .lg\:markdown-xl :where(thead th:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-end: 0;
  }

  .lg\:markdown-xl :where(tbody td, tfoot td):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-top: 0.8888889em;
    padding-inline-end: 0.6666667em;
    padding-bottom: 0.8888889em;
    padding-inline-start: 0.6666667em;
  }

  .lg\:markdown-xl :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-start: 0;
  }

  .lg\:markdown-xl :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    padding-inline-end: 0;
  }

  .lg\:markdown-xl :where(figure):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .lg\:markdown-xl :where(figure > *):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .lg\:markdown-xl :where(figcaption):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    font-size: 0.9em;
    line-height: 1.5555556;
    margin-top: 1em;
  }

  .lg\:markdown-xl :where(.lg\:markdown-xl > :first-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-top: 0;
  }

  .lg\:markdown-xl :where(.lg\:markdown-xl > :last-child):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    margin-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:markdown-dark {
    color: #D4D4D8;
  }

  .dark\:markdown-dark :where(h1):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #7DACFF;
  }

  .dark\:markdown-dark :where(h2):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #7DACFF;
  }

  .dark\:markdown-dark :where(h3):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #7DACFF;
  }

  .dark\:markdown-dark :where(h4):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #7DACFF;
  }

  .dark\:markdown-dark :where(strong):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #D4D4D8;
  }

  .dark\:markdown-dark :where(a):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #7DACFF;
  }

  .dark\:markdown-dark :where(a):not(:where([class~="not-markdown"],[class~="not-markdown"] *)):hover {
    color: #B3CFFF;
  }

  .dark\:markdown-dark :where(blockquote):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #7DACFF;
    background: #27272A;
    border-color: #3F3F46;
  }

  .dark\:markdown-dark :where(code):not(:where([class~="not-markdown"],[class~="not-markdown"] *)) {
    color: #D4D4D8;
  }
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-rose-600:hover {
  --tw-text-opacity: 1;
  color: rgb(255 72 99 / var(--tw-text-opacity, 1));
}

.hover\:text-violet-light:hover {
  --tw-text-opacity: 1;
  color: rgb(74 33 204 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:opacity-100:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .md\:mb-8 {
    margin-bottom: 2rem;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:pt-8 {
    padding-top: 2rem;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .lg\:-mt-2 {
    margin-top: -0.5rem;
  }

  .lg\:w-2\/3 {
    width: 66.666667%;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .xl\:w-1\/2 {
    width: 50%;
  }

  .xl\:leading-snug {
    line-height: 1.375;
  }
}

@media (prefers-color-scheme: dark) {
  .dark\:border-gray-800 {
    --tw-border-opacity: 1;
    border-color: rgb(39 39 42 / var(--tw-border-opacity, 1));
  }

  .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42 / var(--tw-bg-opacity, 1));
  }

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity, 1));
  }

  .dark\:text-black-grape-200 {
    --tw-text-opacity: 1;
    color: rgb(177 163 204 / var(--tw-text-opacity, 1));
  }

  .dark\:text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(125 172 255 / var(--tw-text-opacity, 1));
  }

  .dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(212 212 216 / var(--tw-text-opacity, 1));
  }

  .dark\:brightness-90 {
    --tw-brightness: brightness(.9);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }

  .dark\:hover\:text-blue-300:hover {
    --tw-text-opacity: 1;
    color: rgb(179 207 255 / var(--tw-text-opacity, 1));
  }
}
