@tailwind base;
@tailwind components;
@tailwind utilities;

figure img {
  margin-left: auto !important;
  margin-right: auto !important;
  @apply my-0 !important;
}

figure figcaption {
  text-align: center;
  font-style: italic;
}

.fill-current {
  fill: currentColor !important;
}

.prose {
  max-width: 100%;
}

.note,
.note-info {
  @apply bg-black-grape-100 dark:bg-black-grape-500 bg-opacity-50 mb-4 px-4 py-1 border-l-4 border-black-grape-200 dark:border-black-grape-400;
}
.note :is(h1, h2, h3, h4, h5, h6) {
  @apply mt-2 mb-0;
}
.note p {
  @apply my-2;
}

blockquote p {
  @apply my-2 !important;
}
