---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
  content/post:
    default_front_matter_template: post
upload_dir: static/images
public_path: "/images"
front_matter_path: ''
use_front_matter_path: false
file_template: ":year:/:month:/:filename:"
version: 0.42.1
