{% if page.paginator.pages is defined %}
{% set paginator = page.paginator %}
{% set paginator_current = paginator.current %}
{% set paginator_count = paginator.count %}
        <nav class="flex flex-row items-center text-base md:text-lg font-semibold text-violet dark:text-blue-500">
          {%- if paginator.links.prev is defined ~%}
          <span>&larr;&nbsp;</span>
          <a class="flex-auto text-left hover:underline dark:hover:text-blue-300" href="{{ url(site.pages[paginator.links.prev]) }}">{% trans %}Précédent{% endtrans %}</a>
          {%- else ~%}
          <span class="text-white dark:text-gray-900">&larr;&nbsp;</span>
          <span class="flex-auto text-left text-white dark:text-gray-900">{% trans %}Précédent{% endtrans %}</span>
          {%- endif ~%}
          <span class="flex-auto text-center">{% trans %}%paginator_current% sur %paginator_count%{% endtrans %}</span>
          {%- if paginator.links.next is defined ~%}
          <a class="flex-auto text-right hover:underline dark:hover:text-blue-300" href="{{ url(site.pages[paginator.links.next]) }}">{% trans %}Suivant{% endtrans %}</a>
          <span>&nbsp;&rarr;</span>
          {%- else ~%}
          <span class="flex-auto text-right text-white dark:text-gray-900">{% trans %}Suivant{% endtrans %}</span>
          <span class="text-white dark:text-gray-900">&nbsp;&rarr;</span>
          {%- endif ~%}
        </nav>
{% endif %}