{% set title = 'Page non trouvée' ~ ' &middot ' ~ site.title %}

{% extends '_default/page.html.twig' %}

{% block content %}
  <article class="mx-auto prose sm:prose-lg lg:prose-xl dark:prose-dark">
    <h1>Il n'y a rien à voir par ici</h1>
    <p>
      Mais vous trouverez <a href="{{ url() }}">plein d'articles en page d'accueil</a>.
    </p>
  </article>
{% endblock %}