---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | widont }}</h1>
    {%- assign author = site.data.authors[page.author] -%}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{%- include fr_date.html date=page.date -%}</time>
      {%- if page.author -%}
       • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            <a class="post-author" rel="author" href="https://github.com/{{ author.github }}">{%- avatar {{ author.github }} size=32 -%}{{ author.name }}</a>
          </span>
        </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{- content -}}

    {%- if page.source.title and page.source.url -%}
      <p>
        <em>Article original : <a href="{{ page.source.url }}">{{ page.source.title }}</a></em>
      </p>
    {%- endif -%}

    <footer>
      <p>
        Une correction à apporter ? <button>{% github_edit_link "Éditez cet article" %} {% octicon pencil aria-label:édition %}</button>
      </p>

      {%- if page.comments -%}
        {%- include comments.html -%}
      {%- endif -%}

    </footer>
  </div>
</article>
