body {
  display: flex; // Use flexbox for a Sticky Footer
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

.site-header {
  padding: $base-line 0;
  min-height: 56px;
  background-color: $brand-color;
  background-image: linear-gradient(45deg, #4d9abf 0, $brand-color 100%);
  color: rgba(255, 255, 255, 0.9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-title {
  display: block;
  margin: 0 auto;
  padding: 0 0.5em;
  font-family: $title-font-family;
  font-size: $title1 * $ratio;
  font-weight: 900;
  letter-spacing: $title-letter-spacing;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.15), 0 1px 25px rgba(27, 31, 35, 0.25);
  vertical-align: middle;
  text-align: center;
  transition: all 0.4s ease;

  &,
  &:hover,
  &:visited {
    color: rgba(255, 255, 255, 0.9);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
  }

  &:hover {
    text-shadow: 4px 2px $grey;
  }
}

.site-nav {
  display: inline-block;
  padding: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 1px 1px rgba(27, 31, 35, 0.25), 0 1px 25px rgba(27, 31, 35, 0.75);

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.site-footer {
  position: relative;
  padding: $spacing-unit*2 0 $spacing-unit;
  background: #f7f8f8;
  color: $grey;
  font-size: $small;
  text-align: center;

  a {
    color: $grey;

    &:hover {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  margin-bottom: $spacing-unit;

  li {
    display: inline-block;
    padding: 0 0.69445em;
  }
}

/**
 * Page content
 */

.page-content {
  li {
    margin-bottom: ($base-line-height / 2);

    img {
      margin: ($base-line-height / 2) 0;
    }
  }

  hr {
    margin: $base-line auto;
    width: 70%;
    color: $grey-light;
  }
}

.page-heading {
  margin-top: 0;
}

.post-list {
  margin-top: 3rem;
  margin-left: 0;
  margin-bottom: 5rem;
  list-style: none;

  > li {
    line-height: 1.1;
    padding: $spacing-unit/2;
    border-top: $small solid $brand-color;
    border-image: linear-gradient(45deg, #4d9abf 0, $brand-color 100%) 10;
    margin-bottom: $spacing-unit;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey;
  text-transform: uppercase;
  letter-spacing: $title-letter-spacing;
}

.post-link {
  display: block;
  margin: ($line-height-computed / 7.43) 0;
  font-family: $title-font-family;
  font-weight: 700;
  letter-spacing: $title-letter-spacing;

  a {
    text-decoration: none;
    color: $grey-dark;

    &:hover {
      color: $brand-color;
    }
  }
}

@include media-query($on-tablet) {
  .post-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    > li {
      padding-bottom: $spacing-unit;
    }
  }

  .post-link {
    font-size: $big;
  }
}

@include media-query($on-desktop) {
  .post-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  text-transform: uppercase;
}

.post-content {
  margin-bottom: $spacing-unit;
}

.avatar {
  border-radius: 50%;
  margin-right: $spacing-unit / 4;
}

.intro {
  font-family: $title-font-family;
  font-weight: 700;
  line-height: 1.44;
  font-size: 1.2em;
}

.marker {
  background-color: rgba(255, 228, 0, 0.4);
  padding: 0.1rem;

  code {
    background-color: inherit;
    border: none;
    font-weight: bold;
  }
}

.notice {
  margin: 2em 0;
  padding: 1em;
  border-left: 0.25em solid #91bae0;

  &.info {
    background-color: #e9f1f9;
  }

  &.tip {
    background-color: #ffed7f;
    border-color: #feda00;

    code {
      background-color: #feda00;
      border-color: #feda00;
    }
  }

  &.update {
    background-color: #7fb842;
    color: white;
    border-color: #5c8530;
  }

  h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.75em;
  }

  p {
    a {
      color: #1a5891;
    }
  }

  code {
    background-color: #bdd6ec;
  }
}

figure {
  display: block;
  margin: $base-line-height * 1.44em;
}

figure > img,
figure > iframe {
  margin: 0 auto 0.5em;
}

figcaption {
  text-align: center;
  font-style: italic;
  line-height: 1;
  color: rgba(0, 0, 0, 0.6);
}

@include media-query($on-desktop) {
  figcaption {
    margin: auto;
  }
}

.video-holder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 1.2em auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.footnotes {
  font-size: $small;
  font-style: italic;
  color: $grey-dark;
}
