@charset "utf-8";

@import
  "normalize",
  "fonts",
  "variables",
  "mixins",
  "base",
  "utilities",
  "typography",
  "layout",
  "syntax-highlighting",
  "print"
;

figure {
  display: block;
  margin-top: $base-line-height * 2em;
}

figure > img {
  margin: 0 auto 0.5em;
}

figcaption {
  font-size: $small;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);

  a {
    color: $grey;
  }
}

table {
  border-collapse: collapse;
  margin-bottom: $line-height-computed * 2;

  th,
  td {
    padding: $spacing-unit/2;
    border-bottom: 0.0134em solid $grey;
  }
}
