<div class="flex flex-wrap mt-4">
  {{ with .Get "apple"}}
  <a href="https://podcasts.apple.com/fr/podcast/id1539806294?i={{ . }}">{{- partialCached "svg/apple-podcasts.svg" . -}}</a>&nbsp;
  {{ end }}
  {{ with .Get "google"}}
  <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy8zOWY0ZmEwNC9wb2RjYXN0L3Jzcw/episode/{{ . }}">{{- partialCached "svg/google-podcasts.svg" . -}}</a>&nbsp;
  {{ end }}
  {{ with .Get "spotify"}}
  <a href="https://open.spotify.com/episode/{{ . }}">{{- partialCached "svg/spotify-podcast-white.svg" . -}}</a>
  {{ end }}
</div>
