<div class="mx-autp">
  <form action="https://formspree.io/f/mleodylv" method="POST">
    <p>
      <label class="block" for="_replyto">
        Votre adresse email
        <input
          class="block w-full border-transparent rounded bg-violet-50 focus:border-violet-50"
          type="text"
          name="_replyto"
          required
        />
      </label>
    </p>

    <p>
      <label class="block">
        Votre addresse postale
        <textarea
          class="block w-full border-transparent rounded bg-violet-100 focus:border-violet-50"
          name="adresse"
          rows="4"
          required
        ></textarea>
      </label>
    </p>

    <p>
      <input
        class="block px-3 py-2 text-lg font-semibold leading-6 text-white border border-transparent rounded-md cursor-pointer bg-violet-900 hover:bg-violet-700"
        type="submit"
        value="Envoyer"
      />
    </p>
  </form>
</div>
